/* Base CSS */
@font-face {
    font-family: "Calibre Bold";
    src: url(../fonts/Calibre-Bold.ttf);
}

@font-face {
    font-family: "Calibre Medium";
    src: url(../fonts/Calibre-Medium.ttf);
}

@font-face {
    font-family: "Calibre Regular";
    src: url(../fonts/Calibre-Regular.ttf);
}

@font-face {
    font-family: "Calibre Light";
    src: url(../fonts/Calibre-Light.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
button:focus {
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: #1c223a;
    text-transform: inherit;
    text-decoration: none;
}

a:hover,
a :focus {
    color: #373d46;
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 400;
    font-family: "Calibre Regular";
    overflow-x: hidden !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    line-height: 1.7;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

/*Proloader START CSS*/

.proloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.loader_34 {
    /* Preloader */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader_34 .ytp-spinner {
    /* Spinner Container */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.loader_34 .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.loader_34 .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-left {
    /* Position inside Container*/
    right: 50%;
}

.loader_34 .ytp-spinner-right {
    /* Position inside Container*/
    left: 50%;
}

.loader_34 .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    border-color: var(--preloader-clr) var(--preloader-clr) transparent;
    /* Spinner Color */
    border-radius: 50%;
    border-width: 6px;
}

.loader_34 .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: transparent;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: transparent;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}


/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}


/*return-to-top START CSS*/

.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
    border-radius: 50%;
}


.back-to-top i {
    color: #fff;
    height: 1;
    line-height: 52px;
}

.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn.v1 {
    font-size: 20px;
    color: #fff;
    border: none;
    background: #F9656E;
    font-family: "Calibre Medium";
    line-height: 20px;
    height: 38px;
    padding: 2px 13px 2px;
    border-radius: 3px;
}

.btn.v2,
.btn.v3 {
    border: none;
    background: #57D643;
    height: 38px;
    border-radius: 3px;
    padding: 1px 13px;
}

.btn.v2 img,
.btn.v3 img {
    position: relative;
    top: 2px;
}

.btn.v3 {
    font-size: 20px;
    color: #fff;
    border: none;
    background: #988EF9;
    font-family: "Calibre Medium";
    line-height: 20px;
    padding: 9px 13px 5px;
    border-radius: 3px;
}

/*--------------------------------
       Header CSS
---------------------------------*/
/* Header bar area Start */

.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    transition: 0.3s;
}


/*sticky START CSS*/

.header-wrap.sticky {
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    background: #fff;
}


.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-left {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 18%;
    transition: 0.3s;

}

.header-left div {
    margin-right: 30px;
}

.header-left div:last-child {
    margin-right: 0;
}

.header-left a,
.header-left span {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "Calibre Medium";
}

.header-left .dropdown span,
.header-left div:last-child a img {
    margin-left: 3px;
}

.header-left img {
    position: relative;
    top: 3px;
}

.dropdown {
    position: relative;
    cursor: pointer;

}

.dropdown ul {
    position: absolute;
    top: 34px;
    left: -10px;
    width: 100%;
    padding: 14px 5px 10px 15px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}

.dropdown.open ul {

    visibility: visible;
    opacity: 1;
}

.dropdown ul::before {
    position: absolute;
    top: -9px;
    left: 50%;
    content: "";
    background: transparent;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform: translateX(-50%);
}

.dropdown ul li a,
.dropdown ul li span {
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    font-family: "Calibre Regular";
    font-weight: 400;
    display: inline-block;
}


.header-right {
    width: 45%;
    padding-right: 15px;
}

.header-right ul li {
    display: inline-block;
    margin-left: 20px;
}

.header-right ul li a {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #A3A2A4;
}


/*---------------------------------
        Common CSS
--------------------------------*/

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*---------------------------------
        Sidebar CSS
--------------------------------*/
.sidebar {
    background: #ddd;
    position: fixed;
    top: 82px;
    left: 0;
    width: 18%;
    height: calc(100vh - 100px);
    padding: 20px 0;
    overflow-y: auto;
    transition: 0.3s;
}

.page_wrapper {
    transition: 0.3s;
}

.page_wrapper.minimize .sidebar {
    width: 7%;
}

.theme-dark .logo img.logo-white,
.theme-white .logo img.logo-black {
    display: block;

}

.theme-dark .logo img.logo-black,
.theme-white .logo img.logo-white {
    display: none;

}

.logo .home-menu,
.menu-cat-one ul,
.menu-cat-two ul {
    padding: 0 25px;
}


.logo {
    margin: 0 0 80px;
}

.logo a img {
    display: block;
    margin: 0 auto;
    max-width: 85px;
    transition: 0.3s;
}

.home-menu a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 0 0 80px;
}

.menu-cat-one ul li,
.menu-cat-two ul li {
    position: relative;
    padding-left: 25px;
    margin: 42px 0;
}

.home-menu a span,
.menu-cat-one ul li a span,
.menu-cat-two ul li a span {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
    transition: 0.1s;
}

.home-menu a img {
    transform: scale(0.7);
    position: relative;
    top: -3px;
}

.menu-cat-one ul li a,
.menu-cat-two ul li a {
    display: block;
}

.menu-cat-one ul li a img,
.menu-cat-two ul li a img {
    transform: scale(0.6);
    position: absolute;
    top: -6px;
    left: 0;
    transition: 0.2s;
}

.menu-cat-one h6,
.menu-cat-two h6 {
    font-size: 16px;
    color: #707073;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #F9656E;
    line-height: 1.4;
    margin: 0 25px 26px;
}



.menu-cat-two {
    margin: 70px 0 0;
}

/*Minimize css*/
.minimize-wrap {
    position: fixed;
    top: 60%;
    left: 18%;
    z-index: 999;
    transform: translateY(-50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.page_wrapper.minimize .minimize-wrap {
    left: 7%;
}

.page_wrapper.minimize .header-left {
    margin-left: 7%;

}

.minimize_btn {
    cursor: pointer;
    text-align: center;
    padding: 0px 5px 0 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.minimize_btn span {
    position: relative;
    width: 0;
    height: 0;
    border-right: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.page_wrapper.minimize .logo a img {
    max-width: 70px;
}

.page_wrapper.minimize .minimize_btn span {
    border-right: none;
    border-left: 7px solid #fff;
}

.page_wrapper.minimize .home-menu a span,
.page_wrapper.minimize .menu-cat-one ul li a span,
.page_wrapper.minimize .menu-cat-two ul li a span,
.page_wrapper.minimize .menu-cat-one h6,
.page_wrapper.minimize .menu-cat-two h6 {
    font-size: 0;

}

.page_wrapper.minimize .menu-cat-one h6,
.page_wrapper.minimize .menu-cat-two h6 {
    margin: 0 0 26px;
}

.page_wrapper.minimize .home-menu a img {
    transform: scale(1.1);
    display: block;
    margin: 0 auto;
}

.page_wrapper.minimize .menu-cat-one ul li a img,
.page_wrapper.minimize .menu-cat-two ul li a img {
    transform: scale(1.1) translateX(-50%);
    display: block;
    margin: 0 auto;
    left: 50%;
}

.nicescroll-cursors {
    border-color: #F9656E !important;
    background: #F9656E !important;
    width: 3px !important;
    /*height: 120px!important;*/
    opacity: 0 !important;
}

/*---------------------------------
        Right Content CSS
--------------------------------*/


.right-content {
    width: 81.5%;
    margin-left: 19.5%;
    transition: 0.3s;
    padding: 110px 20px 0 0;
}

.page_wrapper.minimize .right-content {
    width: 93%;
    margin-left: 9%;
}

.graph-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

.graph-left {
    width: 40%;
}

.graph-right {
    width: 58%;
}

.content-title-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.content-title-top h2 {
    font-size: 27px;
    color: #F9656E;
    line-height: 36px;
    font-family: "Calibre Medium";
}

.content-title p {
    color: #707070;
    margin: 0;
}

.content-title-top ul li {
    display: inline-block;
    margin: 0 2px;
}


#searchform {
    position: relative;
}

#search-bar {
    width: 100%;
    height: 54px;
    background: #26202A;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 21px;
    color: #707070;
    padding: 10px 0 10px 20px;
}

#submit {
    position: absolute;
    top: 19px;
    right: 14px;
    background: transparent;
    border: none;
}

/*-----autosearch----*/

.output {
    position: absolute;
    background: #26202A;
    padding: 40px 0 0;
    width: 100%;
    margin: 10px 0 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.output::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "Pair Ordered By Volume";
    font-size: 14px;
    opacity: 0.7;
    display: block;
    padding: 0 28px 20px;
    color: #fff;
}

.search-minititle {
    font-size: 14px;
    opacity: 0.7;
    border-bottom: 1px solid #4C2C36;
    display: block;
    padding: 0 28px 20px;
}
.prediction-item:first-child{
    border-top:  1px solid #4C2C36;
    margin: 10px 0 0;
}
.suggest-item {
    padding: 10px 28px;
    border-bottom: 1px solid #4C2C36;
}

.suggest-item h2 {
    font-size: 27px;
    line-height: 36px;
    font-family: "Calibre Medium";
    color: #F9656E;
}

.suggest-item h2 span.wh_txt {
    color: #707070;
    font-family: "Calibre Regular";
    font-weight: 300;
}

.suggest-item h2 span.bar {
    margin: 0 10px;
}

.suggest-item p {
    font-size: 16px;
    opacity: 0.6;
    margin: 0;
    font-weight: ;
    font-family: "Calibre Light";
    line-height: 20px;
}
body.theme-dark img.graph-one,
body.theme-white img.graph-two{
    display: block;
}
body.theme-white img.graph-one,
body.theme-dark img.graph-two{
    display: none;
}

/*-----table----*/

.table-title h4 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
    font-family: "Calibre Medium";
    letter-spacing: 0.5px;
}

.table-title {
    padding: 6px 24px;
    margin: 10px 0;
}

.table-head,
.table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 40px 15px;
    margin: 0 0 2px;
}

.table-head-item p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
}

.table-head-item,
.table-data-item {
    width: 14.6%;
}

.table-head-item:nth-child(2),
.table-head-item:nth-child(6),
.table-head-item:nth-child(8),
.table-data-item:nth-child(2),
.table-data-item:nth-child(6),
.table-data-item:nth-child(8) {
    width: 9%;
}

.table-data-item p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
}

.page-nav {
    padding: 35px 0;
    background: #000;
}

.page-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-nav ul li {
    margin: 0 10px;
}

.page-nav ul li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #373737;
    text-align: center;
    border-radius: 50%;
    line-height: 31px;
    background: #000;
}

.page-nav ul li a img {
    max-width: 58px;
}

/*---------------------------------
        Content Footer CSS
--------------------------------*/

.content-footer {
    margin: 10px 0;
}

.footer-menu {
    border-bottom: 1px solid #252529;
    padding: 40px 0;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-menu ul li a {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    font-family: "Calibre Regular";
    font-weight: 600;
    padding: 0 25px;
    border-right: 1px solid #F9656E;
}

.social-profile {
    padding: 20px 0;
}

.social-profile ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-profile ul li {
    margin: 0 14px;
}

.social-profile ul li a i {
    font-size: 18px;
}